* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    background-color: rgb(83, 43, 136, 0.5);
    justify-content: space-between;
    align-items: center;
}

.logo-name {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    gap: 10px;
}

.button-list {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}

img {
    max-width: 300px;
}